<table class="mat-elevation-z8">
<tr *ngFor="let i of personList$; index as personNumber">
  <thead class="thead-light">
    <tr>
      <th>FirstName</th>
      <th>FamilyName</th>
      <th>Details</th>
      <th>Delete User</th>
    </tr>
  </thead>
  <tbody>
    <td>{{ i.firstName }}</td>
    <td>{{ i.familyName }}</td>

    <td>
      <button
        mat-button
        color="primary"
        [routerLink]="['../details', personNumber]"
        (click)="findDetail(personNumber)"
      >
        Details
      </button>
    </td>
    <td>
      <button
        mat-button
        color="warn"
        (click)="onDelete(personNumber)"
        class="btn btn-success"
      >
        Remove User
      </button>
    </td>
  </tbody>
</tr>
</table>

<button mat-button color="primary" routerLink="/add">Add</button>
