<button mat-button color="primary" routerLink="/add">Add</button>

<div *ngIf="myInfo$ | async as myInfo">
  firstName: {{ myInfo?.firstName || 'no name set' }}
  <br />
  familyName: {{ myInfo?.familyName || 'no name set' }}

  <br />
  age: {{ myInfo?.age || 'no age set' }}
  <br />
  <hr />
  city: {{ myInfo?.address.city || 'no city set' }}
  <br />
  street: {{ myInfo?.address.street || 'no street set' }}

  <br />
  postCode: {{ myInfo?.address.postCode || 'no postCode set' }}
  <br />
  <hr />
</div>
<div></div>
