<table class="mat-elevation-z8">
<div *ngFor="let i of personList$; index as personNumber">
  <div *ngIf="personNumber == index">
    <h3>Basic Information</h3>
    {{ increment_property() }}
    FirstName: {{ i.firstName || 'no firstName set' }}
    <br />
    FamilyName: {{ i.familyName || 'no familyName set' }}
    <br />
    Age: {{ i.age || 'no age set' }}
    <br />
    <hr />
    <h3>Address</h3>
    City: {{ i.address.city || 'no city set' }}
    <br />
    Street: {{ i.address.street || 'no street set' }}
    <br />
    PostCode: {{ i.address.postCode || 'no postCode set' }} <br />
  </div>
</div>
<button mat-button color="warn" [routerLink]="'../../list'">Return</button>
</table>
