<table class="mat-elevation-z8">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>FirstName</th>
      <th>FamilyName</th>
      <th>Age</th>
      <th>City</th>
      <th>Street</th>
      <th>PostCode</th>
    </tr>
  </thead>
  <tr *ngFor="let i of personList$; index as personNumber">
      <td>{{ personNumber + 1 }}</td>
      <td>{{ i.firstName }}</td>
      <td>{{ i.familyName }}</td>
      <td>{{ i.age }}</td>
      <td>{{ i.address.city }}</td>
      <td>{{ i.address.street }}</td>
      <td>{{ i.address.postCode }}</td>
  </tr>
  <button mat-button color="warn" [routerLink]="'../../list'">Return</button>
</table>
