<!-- <form *ngIf="form" [formGroup]="form" class="form">
  <mat-toolbar>
    <span>Podaj dane nowej osoby</span>
  </mat-toolbar>
  <mat-form-field class="form-element">
    <mat-label>Imię</mat-label>
    <input matInput formControlName="firstName" />
  </mat-form-field>

  <mat-form-field class="form-element">
    <mat-label>Nazwisko</mat-label>
    <input matInput formControlName="familyName" />
  </mat-form-field>

  <mat-form-field class="form-element">
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age" />
  </mat-form-field>
  <mat-form-field>
    <span>Adres</span>
  </mat-form-field>
  <div formGroupName="address">
    <mat-form-field class="form-element">
      <mat-label>Miasto</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Ulica</mat-label>
      <input matInput formControlName="street" />
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Kod pocztowy</mat-label>
      <input matInput formControlName="postCode" />
    </mat-form-field>
  </div>
  <button mat-button color="primary" routerLink="save()">Zapisz</button>
</form> -->
<form [formGroup]="form">
<mat-toolbar>
<span>Please fill the form</span>
</mat-toolbar>
 <hr>
<mat-form-field class="form-element">
    <mat-label for="firstName">FirstName</mat-label>
    <input matInput
      type="text"
      id="firstName"
      formControlName="firstName"
      class="form-control"
    />
</mat-form-field>
 
<mat-form-field class="form-element">
    <mat-label for="familyName">FamilyName</mat-label>
    <input mat-Input
      type="text"
      id="familyName"
      formControlName="familyName"
      class="form-control"
    />
</mat-form-field>

<mat-form-field class="form-element">
    <mat-label for="age">Age</mat-label>
    <input matInput type="number" id="age" formControlName="age" class="form-control" />
</mat-form-field>
  <div formGroupName="address">
<mat-toolbar>
  <span>Address</span>

</mat-toolbar>
<hr>
  <mat-form-field class="form-element">
      <label for="city">City</label>
      <input
        type="text"
        id="city"
        value="city"
        formControlName="city"
        class="form-control"
      />
  </mat-form-field>
    
  <mat-form-field class="form-element">
      <label for="street">Street</label>
      <input
        type="text"
        id="street"
        value="street"
        formControlName="street"
        class="form-control"
      />
  </mat-form-field>
   
  <mat-form-field class="form-element">
      <label for="postCode">postCode</label>
      <input
        type="text"
        id="postCode"
        value="postCode"
        formControlName="postCode"
        class="form-control"
      />
  </mat-form-field>
  </div>
  <button mat-button color="primary" routerLink="../list" (click)="save()">
    Zapisz
  </button>
</form>
